<br><br>
<div class='well col-md-8'>

  <div class='row'>
    <div class='col-md-3 text-right'>
      <h3>New Book</h3>
    </div>
  </div>

  <form class="form-horizontal" ng-submit="addBook()">

    <div class="form-group">
      <label for="new-book-title" class="col-sm-3 control-label">
        Title
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="new-book-title"
            ng-model="newBook.title" placeholder="title">
      </div>
    </div>

    <div class="form-group">
      <label for="new-book-author" class="col-sm-3 control-label">
        Author
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="new-book-author"
            ng-model="newBook.author" placeholder="author">
      </div>
    </div>

    <div class="form-group">
      <label for="image-url" class="col-sm-3 control-label">
        Image URL
      </label>
      <div class="col-sm-9">
        <input type="url" class="form-control" id="image-url"
          ng-model="newBook.image" placeholder="image url">
      </div>
    </div>

    <div class="form-group">
      <label for="new-book-release-date" class="col-sm-3 control-label">
        Release Date
      </label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="new-book-release-date"
            ng-model="newBook.release_date" placeholder="release date">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 text-right">
        <button type="submit" class="btn btn-primary">Add Book</button>
      </div>
    </div>

  </form>

</div>