<br>
<div class='row'>

  <div class='col-md-2'>
    <h3>Books Index</h3>
  </div>

  <div class='col-md-2'>
    <a ui-sref="newBook">
      Add a Book
    </a>
  </div>

</div><hr>

<ul class='list-unstyled'>
  <li ng-repeat='book in books'>
    <div class='row'>

      <div class='col-md-2'>
        <img ng-src="{{ book.image }}" style="height:150px" alt="{{ book.title }}">
      </div>

      <div class='col-md-3'>

        <a ui-sref="showBook({ id: {{ book.id }} })">
          {{ book.title }}
        </a> <br>

        by {{ book.author }} <br>

        Release Date: {{ book.release_date }} <br>

        <a class="btn btn-danger" ng-click="deleteBook(book)">
          Delete
        </a>

      </div>

    </div><br>
  </li>
</ul>

