<br>
<div class='row'>

  <div class='col-md-2'>
    <h3>Books Index</h3>
  </div>

  <div class='col-md-2'>
    <a ui-sref="newBook" class="btn btn-default" style="margin-top: 15px">
      Add a Book
    </a>
  </div>

</div><hr><br>

<ul class='list-unstyled list-inline'>
  <li ng-repeat='book in books' class='col-md-4'>
    <div class='row'>

      <div class='col-md-4'>
        <div class='row'>
          <div class='col-md-8 col-md-offset-2'>
            <img
              ng-src="{{ book.image }}" style="height:120px"
              alt="{{ book.title }}">
          </div>
        </div>
      </div>

      <div class='col-md-8'>

        <a ui-sref="showBook({ id: {{ book.id }} })">
          {{ book.title }}
        </a> <br>

        by {{ book.author }} <br>

        Released: {{ book.release_date }} <br><br>

        <a class="btn btn-danger" ng-click="deleteBook($index)">
          Delete
        </a>

      </div>

    </div><br><br><br>
  </li>
</ul>

